* {
    box-sizing: border-box;
}

html {
    display: flex;
    justify-content: center;
}

body {
    width: min(100%, 800px);
    padding: 1rem;

    background-color: #ffffff;
    color: #000000;

    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.title-wrap {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 15rem;
}

#input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;

    appearance: none;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

#input:focus {
    outline: 2px solid #0078d4;
}

#result {
    width: 100%;
    border-collapse: collapse;
    border-style: hidden;
    border-radius: 0.25rem;
    box-shadow: 0 0 0 1px #ccc;
    padding: 0;
}

#result tr:not(:first-child) {
    border-top: 1px solid #ccc;
}

#result td,
#result th {
    padding: 0.5rem;
    border: none;
}

#result th {
    text-align: left;
    font-weight: 400;
    background-color: #f0f0f0;
}
