[submodule "third_party/tclap"]
	path = third_party/tclap
	url = https://github.com/mirror/tclap
[submodule "third_party/mimalloc"]
	path = third_party/mimalloc
	url = https://github.com/microsoft/mimalloc
[submodule "third_party/cpp-btree"]
	path = third_party/cpp-btree
	url = https://github.com/bab2min/cpp-btree
	branch = improve-mscv-compatibility
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest
	branch = master
[submodule "third_party/cpuinfo"]
	path = third_party/cpuinfo
	url = https://github.com/pytorch/cpuinfo
[submodule "third_party/eigen"]
	path = third_party/eigen
	url = https://gitlab.com/libeigen/eigen
[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/nlohmann/json
[submodule "third_party/streamvbyte"]
	path = third_party/streamvbyte
	url = https://github.com/fast-pack/streamvbyte
