name: Arm64-Centos7

on:
  pull_request:
    branches: [ main ]

jobs:
  build-centos:
    name: Arm64-Centos7
    runs-on: ubuntu-24.04-arm

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true
        lfs: true
    - name: Print CPU Info
      run: cat /proc/cpuinfo
    - uses: bab2min/run-on-arch-action@multiple-step-v2
      id: runcmd
      with:
        image: quay.io/pypa/manylinux2014_aarch64
        githubToken: ${{ github.token }}
        setup: |
          mkdir -p "${PWD}/artifacts"
        dockerRunArgs: |
          --volume "${PWD}/artifacts:/artifacts"
        multipleRun: |
          - name: Install dependencies
            run: |
              /opt/python/cp310-cp310/bin/pip install "cmake<4"
              yum install java-1.8.0-openjdk-devel -y
          - name: Build
            run: |
              mkdir build && pushd build && /opt/python/cp310-cp310/bin/cmake -DCMAKE_BUILD_TYPE=Release -DKIWI_USE_MIMALLOC=0 -DKIWI_JAVA_BINDING=1 ..
              make -j2 && popd
          - name: Test
            run: |
              ./build/test/kiwi-test
              mkdir eval_results && ./build/kiwi-evaluator -m ./models/cong/base --morph eval_data/*.txt -t knlm -o eval_results/ && ./build/kiwi-evaluator -m ./models/cong/base --morph eval_data/*.txt -t sbg -o eval_results/
              cp -r build /artifacts/
              cp -r eval_results /artifacts/
          - name: Benchmark
            run: |
              curl -OL https://latina.bab2min.pe.kr/_data/kowiki1000.txt
              KIWI_ARCH_TYPE=none ./build/kiwi-cli-* -m ./models/cong/base -e -o test.out kowiki1000.txt
              KIWI_ARCH_TYPE=balanced ./build/kiwi-cli-* -m ./models/cong/base -e -o test.out kowiki1000.txt
              KIWI_ARCH_TYPE=neon ./build/kiwi-cli-* -m ./models/cong/base -e -o test.out kowiki1000.txt
    - name: Archive binaries
      uses: actions/upload-artifact@v4
      with:
        name: Artifacts Arm64-Centos7
        path: |
          artifacts/build/*kiwi*
          artifacts/build/test/*kiwi*
          artifacts/eval_results/*.txt
          artifacts/build/binding/java/*.jar