name: Centos7

on:
  pull_request:
    branches: [ main ]

jobs:
  build-centos7:
    name: Centos7
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true
        lfs: true
    - name: Print CPU Info
      run: cat /proc/cpuinfo
    - uses: bab2min/run-on-arch-action@multiple-step
      id: runcmd
      with:
        image: quay.io/pypa/manylinux2014_x86_64
        githubToken: ${{ github.token }}
        multipleRun: |
          - name: Update CMake
            run: |
              /opt/python/cp310-cp310/bin/pip install "cmake<4"
              yum install java-1.8.0-openjdk-devel.x86_64 -y
          - name: Configure Build
            run: mkdir build && cd build && /opt/python/cp310-cp310/bin/cmake -DCMAKE_BUILD_TYPE=Release -DKIWI_JAVA_BINDING=1  ..
          - name: Build
            run: cd build && make -j2
          - name: Run Unit Test
            run: ./build/test/kiwi-test
          - name: Run Java Unit Test
            run: |
              cd bindings/java
              curl -OL https://repo1.maven.org/maven2/junit/junit/4.13.2/junit-4.13.2.jar
              curl -OL https://repo1.maven.org/maven2/org/hamcrest/hamcrest-core/1.3/hamcrest-core-1.3.jar
              javac -cp "*:../../build/bindings/java/*:." -encoding utf-8 test/KiwiTest.java
              java -cp "*:../../build/bindings/java/*:." org.junit.runner.JUnitCore test.KiwiTest
          - name: Run Evaluator
            run: |
              mkdir eval_results
              ./build/kiwi-evaluator -m ./models/cong/base --morph eval_data/*.txt -t cong -o eval_results/
              ./build/kiwi-evaluator -m ./models/cong/base --morph eval_data/*.txt -t cong-global -o eval_results/
          - run: tar -zcvf arts.tgz build/*kiwi* build/test/*kiwi* eval_results/*.txt build/bindings/java/*.jar
    - name: Archive binaries
      uses: actions/upload-artifact@v4
      with:
        name: Artifacts Centos7
        path: arts.tgz
