name: PPC64LE-Centos7

on:
  pull_request:
    branches: [ main ]

jobs:
  build-centos:
    name: PPC64LE-Centos7
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true
        lfs: true
    - uses: bab2min/run-on-arch-action@multiple-step-v2
      id: runcmd
      with:
        image: quay.io/pypa/manylinux2014_ppc64le
        githubToken: ${{ github.token }}
        setup: |
          mkdir -p "${PWD}/artifacts"
        dockerRunArgs: |
          --volume "${PWD}/artifacts:/artifacts"
        run: |
          /opt/python/cp310-cp310/bin/pip install "cmake<4"
          yum install java-1.8.0-openjdk-devel -y
          mkdir build && pushd build && /opt/python/cp310-cp310/bin/cmake -DCMAKE_BUILD_TYPE=Release -DKIWI_USE_MIMALLOC=0 -DKIWI_JAVA_BINDING=1 ..
          make -j2 && popd
          ./build/test/kiwi-test
          mkdir eval_results && ./build/kiwi-evaluator -m ./models/cong/base --morph eval_data/*.txt -t knlm -o eval_results/ && ./build/kiwi-evaluator -m ./models/cong/base --morph eval_data/*.txt -t sbg -o eval_results/
          cp -r build /artifacts/
          cp -r eval_results /artifacts/
    - name: Archive binaries
      uses: actions/upload-artifact@v4
      with:
        name: Artifacts PPC64LE-Centos7
        path: |
          artifacts/build/*kiwi*
          artifacts/build/test/*kiwi*
          artifacts/eval_results/*.txt
          artifacts/build/binding/java/*.jar
